body {background-color:darkslategrey}

h1{font-size: 65px;
color: white;
max-width: 100%;
max-height: 5000px;
border: 20px inset white;
text-align: center;   
}
p.imagem{text-align: center;}

h2{color: white;
    border-left: 10px solid;
border-left-color: chartreuse}

li{color: white;
    margin: 5px;
font-size: 17px;
padding: 3px;
font-family: cursive}

p.alerta{color: white;
    font-size: 18px;
font-family: cursive;
padding: 5px;}

a:link{color: green;}
a:visited{color:chartreuse;}
a:houver{color: orangered;}
a:active{color: orange;}

a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:houver{text-decoration: underline;}
a:active{text-decoration: underline;}

a:link{background: none;}
a:visited{background: none;}
a:houver{background: red;}
a:active{background: white;}